
<div class="new2me-appname-heading"><span class="semo-color">New-2-Me!</span></div>

    <div class="row new2me-container">

      <div class="col-md-6 ml-2 mr-4 new2me-bottom-gradient">
        <app-post-pictures [images]="post.pictures" [inEdit]="false"></app-post-pictures>

      </div>


      <div class="col-md-5 ml-4 mr-2 new2me-bottom-gradient" style="position: relative;">
        <button class="new2me-btn new2me-btn-t1 reply-btn" (click)="onOpenDialog()">Reply</button>

        <h2>{{post.title}}</h2>
        <div class="info-box">
          <span class="post-detail-label">Location: </span>
          <span class="primary-text">{{post.location}}</span>
        </div>

        <div class="info-box">
          <span class="post-detail-label">Condition: </span>
          <span class="primary-text">{{conditionDict[post.condition]}}</span>
        </div>

        <div class="info-box">
          <div class="post-detail-label">Description: </div>
          <div class="primary-text">{{post.description}}</div>
        </div>

      </div>
    </div>

