
<div class="new2me-appname-heading"><span class="semo-color">New-2-Me!</span></div>


<!--Show this on not previewed-->
<div *ngIf="!previewed" class="new2me-form-container" style="width: 80%; background-color: #282828" >
  <form class="two-sided-pane" #postForm="ngForm">
    <!--LEFT-->
    <div class="left-pane">
      <div class="form-group form-inline">
        <label for="title">Title <span class="required">&ast;</span></label>
        <input type="text" class="form-control ml-2" id="title" name="title" ngModel required>
      </div>

      <div class="form-group form-inline">
        <label for="location">Location <span class="required">&ast;</span></label>
        <input type="text" class="form-control ml-2" id="location" name="location" ngModel required>
      </div>

      <div class="form-group form-inline">
        <label for="condition">Condition<span class="required">&ast;</span></label>
        <input type="text" class="form-control ml-2" id="condition" name="condition" ngModel required>
      </div>

      <div class="form-group form-inline">
        <label for="email">Email <span class="required">&ast;</span></label>
        <input type="text" class="form-control ml-2" id="email" name="email" ngModel required email>
      </div>

      <div class="form-group form-inline">
        <label for="phone">Phone Number <span class="required"> &ast;</span></label>
        <input type="text" class="form-control ml-2" id="phone" name="phone" ngModel required>
      </div>

      <div class="form-group form-inline">
        <label for="tag">Tag <span class="required">&ast;</span></label>
        <input type="text" class="form-control ml-2" id="tag" name="tag" ngModel required>
      </div>

      <div class="form-group">

        <textarea name="description" id="description" cols="38" rows="4" placeholder="Description"></textarea>
      </div>
    </div>

    <!--RIGHT-->
    <div class="right-pane" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
      <app-post-pictures [images]="uploadedImages"></app-post-pictures>
      <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 26%; width: 90%;">
          <div class="upload">
            <button type="button" class="new2me-btn new2me-btn-t2">Upload image</button>
            <input type="file" name="image" id="image" class="realupload" (change)="onUploadImage($event)"/>
          </div>


        <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
          <button type="button" class="new2me-btn-t2 new2me-btn" (click)="onBackToHome()">Back</button>
          <button type="button" class="new2me-btn-t1 new2me-btn" [disabled]="!postForm.valid || uploadedImages.length<3"
          [matTooltip]="!postForm.valid && uploadedImages.length<3? 'Please enter all information and upload at least 3 item pictures': ''" matTooltipPosition="above"  matTooltipClass="new2me-tooltip" (click)="onPreviewPost()">
          Preview
          </button>
        </div>
      </div>
    </div>

  </form>
</div>

<!--Show this on previewed-->
<div *ngIf="previewed">
  <app-post-detail></app-post-detail>
  <button type="button" (click)="onPublishPost()" class="new2me-btn new2me-btn-t1">Publish</button>
</div>




