
<div class="new2me-appname-heading"><span class="semo-color">New-2-Me!</span></div>


<!--Show this on not previewed-->
<div *ngIf="!previewed" class="new2me-form-container" style="width: 80%; background-color: #282828" >
  <form class="two-sided-pane" #postForm="ngForm">
    <!--LEFT-->
    <div class="left-pane">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput name="title" ngModel required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput placeholder="Ex. apt|building|etc.,street address,city,state,zipcode" name="location" ngModel required>
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content:space-between" class="form-group">
        <mat-form-field>
          <mat-label>Condition</mat-label>
          <mat-select [ngModel]="conditionDict[conditionList[0]]" required name="condition">
            <mat-option *ngFor="let condition of conditionList" [value]="conditionDict[condition]">
              {{condition}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tag</mat-label>
          <mat-select [ngModel]="tagDict[tagList[0]]" required name="tag">
            <mat-option *ngFor="let tag of tagList" [value]="tagDict[tag]">
              {{tag}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content:space-between" class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. myemail@gmail.com" name="email" ngModel required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Ex. 123-456-7890" name="phone" ngModel required>
        </mat-form-field>
      </div>

      <!-- <div class="form-group form-inline">
        <label for="tag">Tag <span class="required">&ast;</span></label>
        <input type="text" class="form-control ml-2" id="tag" name="tag" ngModel required>
      </div> -->


      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput cols="40" rows="4" name="description" ngModel></textarea>
        </mat-form-field>
      </div>


    </div>

    <!--RIGHT-->
    <div class="right-pane" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
      <app-post-pictures [images]="uploadedImages"></app-post-pictures>
      <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 26%; width: 90%;">
          <div class="upload">
            <button type="button" class="new2me-btn new2me-btn-t2">Upload image</button>
            <input type="file" name="image" id="image" class="realupload" (change)="onUploadImage($event)"/>
          </div>


        <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
          <button type="button" class="new2me-btn-t2 new2me-btn" (click)="onBackToHome()">Back</button>
          <button type="button" class="new2me-btn-t1 new2me-btn" [disabled]="!postForm.valid || uploadedImages.length<3"
          [matTooltip]="!postForm.valid || uploadedImages.length<3? 'Please enter all information and upload at least 3 item pictures': ''" matTooltipPosition="above"  matTooltipClass="new2me-tooltip" (click)="onPreviewPost()">
          Preview
          </button>
        </div>
      </div>
    </div>

  </form>
</div>

<!--Show this on previewed-->
<div *ngIf="previewed">
  <app-post-detail></app-post-detail>
  <button type="button" (click)="onPublishPost()" class="new2me-btn new2me-btn-t1">Publish</button>
</div>




