.top-nav{
  background-color:  rgb(38, 38, 38);;
  height: 56px;
  position: relative;
}

.profile-icon{
  position: absolute;
  top: 6px;
  right: 24px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
