<div class="new2me-appname-heading">Welcome to <span class="semo-color">New-2-Me!</span></div>

<div class="new2me-container" style="width: 34%;">
  <form class="new2me-form" (ngSubmit)="onResetPassword()" #form="ngForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control new2me-input" id="email" [(ngModel)]="email"  name="emasil" email required>
    </div>

    <div id="main-auth-container">
      <button class="new2me-btn-t2 new2me-btn" type="button" (click)="onBackToLogin()">Back</button>
      <button class="new2me-btn-t1 new2me-btn" type="submit" [disabled]="!form.valid">Reset Password</button>
    </div>
  </form>
</div>
