<div class="new2me-appname-heading">Welcome to <span class="semo-color">New-2-Me!</span></div>

<div class="new2me-container" style="width: 350px;">
  <form class="new2me-form" (ngSubmit)="onResetPassword()" #form="ngForm">

    <div class="form-group">
      <label for="password">
        Password
        <button type="button" [matTooltip]="strongPassRequirements" matTooltipPosition="right" class="new2me-quesmark" matTooltipClass="new2me-tooltip">?</button>
      </label>
      <input type="password"  class="form-control new2me-input " id="password" ngModel name="password" required>
    </div>

    <div class="form-group">
      <label for="repassword">Re-enter password</label>
      <input type="password"  class="form-control new2me-input " id="repassword" ngModel name="repassword" required>
    </div>

    <div id="auth-container">
      <span class="help-block mb-2" style="color:red" *ngIf="!validPass">{{errorMsg}}</span>

      <div id="main-auth-container">
        <button class="new2me-btn-t1 new2me-btn" type="submit" [disabled]="!form.valid">Reset Password</button>
      </div>
    </div>
  </form>
</div>
