.row-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.mat-paginator{
  font-size: 15px;
}

.post-cat-title{
  color: #5B6670;
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 0.01px solid rgb(223, 221, 221);
}

@media only screen and (max-width: 1080px){
  .row-flex{
    justify-content: space-evenly;
  }

  .post-cat-title{
    margin-left: 16px;
  }
}
