<form #userForm="ngForm" class="profile-wrapper" *ngIf="userProfile" (ngSubmit)="onSaveProfile()">
  <div class="form-group">
    <label for="username">Username</label>
    <div class="input-edit-wrapper" [ngClass]="{'edit': editMode['username']}">
      <input type="text" id="username" name="username" class="form-control" [(ngModel)]="userProfile.username" required [disabled]="!editMode['username']">
      <button type="button" class="edit-btn" (click)="onEdit('username')">{{!editMode['username']? "Edit":"Finish"}}</button>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-edit-wrapper" [ngClass]="{'edit': editMode['email']}">
      <input type="text" id="email" name="email" class="form-control" [(ngModel)]="userProfile.email" required email [disabled]="!editMode['email']">
      <button type="button" class="edit-btn" (click)="onEdit('email')" >{{!editMode['email']? "Edit":"Finish"}}</button>
    </div>
  </div>

  <hr>

  <div class="flex-row-start-center">
    <h2 style="margin: 10px 0px; font-size: 16px;">Optional</h2>
    <button type="button" class="new2me-quesmark"
    matTooltip="Information provided here can facilitate you when creating a post." matTooltipPosition="above"  matTooltipClass="new2me-tooltip" >
    &quest;
    </button>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <div class="input-edit-wrapper" [ngClass]="{'edit': editMode['name']}">
      <input type="text" id="name" name="id" class="form-control" [(ngModel)]="userProfile.nameOfUser" [disabled]="!editMode['name']">
      <button type="button" class="edit-btn" (click)="onEdit('name')" >{{!editMode['name']? "Edit":"Finish"}}</button>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phone number</label>
    <div class="input-edit-wrapper" [ngClass]="{'edit': editMode['phone']}">
      <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="userProfile.phoneNum" [disabled]="!editMode['phone']" pattern="\d{3}-\d{3}-\d{4}" #phone="ngModel">
      <button type="button" class="edit-btn" (click)="onEdit('phone')" [disabled]="editMode['phone'] && !phone.valid">{{!editMode['phone']? "Edit":"Finish"}}</button>
    </div>
    <div class="help-block" style="color: rgb(240, 55, 22)" *ngIf="editMode['phone'] && !phone.valid">Please enter your phone number match the following format: ddd-ddd-dddd</div>
  </div>

  <div class="form-group">
    <label for="address" >Address</label>
    <div class="input-edit-wrapper" [ngClass]="{'edit': editMode['address']}">
      <input type="text" id="address" name="address" class="form-control" [(ngModel)]="userProfile.address" [disabled]="!editMode['address']">
      <button type="button" class="edit-btn" (click)="onEdit('address')" >{{!editMode['address']? "Edit":"Finish"}}</button>
    </div>
  </div>
  <div class="input-edit-wrapper">
    <div></div>
    <button type="submit" class="new2me-btn-t1 new2me-btn mt-3" >Update</button>
  </div>
  <div class="input-edit-wrapper">
    <div></div>
    <div class="help-block  mt-3" style="color: rgb(240, 55, 22)" *ngIf="backendErrorMsg">{{backendErrorMsg}}</div>
  </div>
</form>
