label{
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.profile-wrapper{
  width: 60%;
  margin: 40px auto;
}

.flex-row-start-center{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

.input-edit-wrapper{
  display: flex;
  justify-content: space-between;
}

input{
  padding-left: 0px;
  width: 80%;
  border: none;
  height: 34px;
  color: black;
}

.form-control:disabled{
  background-color: white;
}

.edit-btn{
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  padding: 0 16px;
  border-radius: 99em;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill
}

.edit-btn:hover{
  border-color: rgba(0,0,0,.54);
}

.edit button{
  border-color: #840B55;
  color:  #840B55;
}

.edit input{
  border: 2px solid rgba(0,0,0,.15);
  border-radius: 4px;
}


