.post-pic{
  width: 280px;
  height: 280px;
  border-radius: 16px;

}

.next-pre-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 8px;
}

.nav-btn{
  background: none;
  color: white;
  border-radius: 50%;
  border-color: aliceblue;
  font-size: 28px;
  font-weight: 500;
}

.pic-view-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.pic-del{
  position: absolute;
  top: 0px;
  right: 0px;

  background: none;
  border: red 2px solid;
  color: red;
  border-radius: 50%;
  font-size: 28px;
}
