<div>
  <div mat-dialog-title class="dialog-header">Owner's Contact Information</div>

  <div mat-dialog-content>
    <div *ngIf="data.nameOfUser" class="info-box">
      <span>Name: </span>
      <span>{{data.nameOfUser}}</span>
    </div>

    <div class="info-box">
      <span>Email: </span>
      <span>{{data.email}}</span>
    </div>

    <div class="info-box">
      <span>Phone number: </span>
      <span>{{data.phone}}</span>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCloseDialog()" class="new2me-btn new2me-btn-t2">Thanks</button>
  </div>

</div>
