#nav-layout{
  /* width: 20%; */
  height: 100vh;
  background-color: #121212;

}

#tags-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 60%;
  padding: 0 16%;
}

.tag-button{
  padding: 10px;
  width: 100%;
  border-radius: 16px;
  border: none;
  background-color: #242526;
  color: #e4e6e3;
  font-size: 16px;
}

.tag-button:hover{
  cursor: pointer;
  background-color: #3A3B3C;
}

#tag-heading{
  color:#B0B3B8;
  font-size: 34px;
  margin: 0px;
}

#search-bar{
  height: 28px;
  width: 100%;
  border-radius: 16px;

  font-size: 16px;
  font-style: italic;
  text-align: center;
}

#tools-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10% 10% 10% 10%;
  height: 28%;
}


