/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.new2me-appname-heading{
  text-align: center;
  margin: 40px auto;
  font-size: 38px;
  font-weight: 700;
  font-family: 'Signika Negative', sans-serif;;
}
.new2me-appname-heading:hover{
  text-decoration: underline white 4px;
  cursor: pointer;
}

.semo-color{
  color:  #C8102E ;
}

.new2me-btn{
  padding: 12px 22px;
  border-radius: 32px;
  font-size: 14px;
}

.new2me-btn-t1{
  border: #fff 2px solid;
  background-color: #121212;
  color: #fff;
}

.new2me-btn-t1:hover:enabled{
  cursor: pointer;
  background-color: #fff;
  color: #C8102E;
  border: #C8102E solid 3px;
  font-weight: 700;
}

.new2me-btn-t1:disabled{
  cursor:auto;
  background-color: #121212;
}

.new2me-btn-t2{
  background-color: #242526;
  color: #fff;
  font-size: 14px;
}

.new2me-btn-t2:hover:enabled{
  cursor: pointer;
  background-color: #3A3B3C;
}

.new2me-container{
  padding: 2%;
  margin: 0 auto;
  border-radius: 28px;
  background-color: #121212;
}

.new2me-form{
  padding: 8%;
  width: 100%;
  border-radius: 28px;
  background-color: #282828;
}



#auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#main-auth-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  margin-bottom: 4%;
}


.form-group label, .post-detail-label{
  color: rgb(127, 135, 142);
  font-weight: 600;
  font-size: 16px;
}

.new2me-quesmark{
  background: none;
  border: red solid 2px;
  border-radius: 50%;
  color: red;
  font-size: 14px;
  margin-left: 2px;
}

.new2me-tooltip{
  background-color: #282828;
  border: aliceblue 1px solid;
}

.form-group input{
  height: 30px;
  border-radius: 16px;
}

.two-sided-pane{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-pane{
  width: 50%;
}

.right-pane{
  width: 50%;
}

.realupload {
  font-size:18px;
  position:absolute;
  top:0;
  right:0;
  opacity:0;
  -moz-opacity:0;
  cursor: pointer;
  /* filter:alpha(opacity:0);  */
  z-index:2;
  height:100%;
  padding: 20%;

  background-color: #282828;;
  color: #282828;;
}

.upload
{
  position: relative;
  overflow: hidden;
}

.semo-btn{
  background-color: #C8102E;
  border-radius: 31.25rem;
  color: #fff
}

.mat-form-field{
  background: White;
  padding: .1em 0.5em 0 0.5em;
  /* border-radius: 20px; */
  width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.5em;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px !important;
}

.new2me-bottom-gradient{
  background-color: #282828;
  padding: 20px;
  border-radius: 28px;
}

.primary-text{
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.secondary-text{
  color: #5B6670;
  font-size: 16px;
}


.info-box{
  margin-top: 14px;
}

a{
  transition: box-shadow .25s,color .25s;
}

button{
  transition: cubic-bezier(0.215, 0.610, 0.355, 1)
}


