.row-flex{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.mat-paginator{
  font-size: 15px;
}

.col-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phoneDevice .row-flex{
  justify-content: space-around;
}
