img{
  width: 150px;
  height: 150px;

  border-radius: 8px;
}

.card-wrapper{
  background-color: #282828;

  padding: 16px;
  width: 210px;
  height: 240px;

  border-radius: 14px;
}

.card-wrapper:hover{
  background-color: #3A3B3C;
  cursor: pointer;
}

h2:hover{
  text-decoration: underline;
}

h2{
  margin-bottom: 0px;
  margin-top: 8px;
  line-height: 20px;
  font-size: .9375rem;
  font-weight: 400;
}

.secondary-text{
  font-size: .8125rem;
}

